<h2> Employee List </h2>

<table class="table table-striped mt-5">
  <thead>
    <tr>
        <th> Image </th>
        <th> Full Name </th>
        <th> Email </th>
        <th> Job Title </th>
        <th> Phone Number </th>
        <th> Actions </th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let employee of employees">
        <td><img [src]="employee.imageUrl" alt="{{ employee.name }}" width="50px" class="img-fluid rounded-circle w-5"></td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.jobTitle }}</td>
        <td>{{ employee.phone }}</td>
        <td>
            <button (click)="updateEmployee(employee.id)" class="btn btn-info"> Update </button>
            <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px;"> Delete </button>
            <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px;"> View </button>
        </td>
      </tr>
  </tbody>
</table>
